/* Estilo para o preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 126, 95); /* Cor de fundo do preloader */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid rgba(254, 180, 123, 0.5); /* Cor do preloader */
    border-top: 16px solid #feb47b; /* Cor do topo do preloader */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}